body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hiddsen;
}
.main-body{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 320px;
    width: 320px;
    max-height: 320px;
    max-width: 320px;
}
.display{
    height: 64px;
    width: 320px;
}


button{
    background-color: lightgray;
    width:64px;
    height: 64px;
    font-size: 16px;
}

.equal{
    width: 128px;
}


